
body{
    min-height: 100vh;
    display: flex;
    background-color: #6F3A1B;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    color: #fff;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Vina sans";
}
main{
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    min-height: 400px;
}
article{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    background: #1B506F;
    border-radius: 10px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
h2{
    font-family: "Karla";
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Karla;
}
